datasets==1.0.2
gradio==3.13.0
h5py==3.7.0
html5lib==1.1
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
matplotlib-venn==0.11.7
opencv-python==4.7.0.68
pandas-datareader==0.10.0
plotly==5.11.0
plotly-resampler==0.8.4rc1
seaborn==0.12.1
sklearn==0.0.post1
split-folders==0.5.1
streamlit==1.17.0
tensorflow==2.10.1
